.main_carousel {
  width: 100%;
  overflow-x: scroll;
  /* scroll-snap-type: x mandatory; */
  scrollbar-width: none; /* Hide scrollbar for a cleaner look */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.carousel_of_boxes {
  display: flex;
  scroll-snap-align: start;
  gap: 20px;
}

.img_box {
  flex: 0 0 240px;
  height: 136px !important;
  /* width: 240px !important; */
  border-radius: 8px;
  scroll-snap-stop: always;
  background-color: #ccc;
  border: 1px solid #999;
}

@media (max-width: 768px) {
    .img_box {
      max-width: 50%;
    }
}
  
@media (max-width: 480px) {
    .img_box {
      max-width: 100%;
    }
}




/* @media (max-width: 768px) {
    .responsive-img {
      max-width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .responsive-img {
      max-width: 100%;
    }
}

@media (max-width: 768px) {
    .title_fairy {
      text-align: start;
    }
  }
  
  @media (max-width: 480px) {
    .title_fairy {
        text-align: center;
    }
} */