.carousels_section {
  position: relative;
  padding: 0px 16px;
  background: #1A1D29;
}

.title_tales {
  font-family: Work Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.46px;
  color: white;
  margin: 0;
}

.uz_title {
  position: absolute;
  top: -215px;
  right: 16px;
  left: 16px;
}

.euro_title {
  padding-top: 17px;
}

/* top 56 => 50 */
.east_title {
  margin-top: 50px;
}

.doc_title {
  margin-top: 51px;
}

.infin_title {
  margin-top: 52px;
}

.box_carousel {
  margin-top: 16px;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For iOS support */
}

.carousel_boxes {
  flex: 0 0 240px;
  scroll-snap-align: start;
}