.main-cartoon {
    background: var(--main-backround-color);
    display: flex;
    gap: 11px;
}

.cartoon-of-boxes {
    width: 1153px;
    margin-top: 150px;
    margin-left: 55px;
}

.advertising {
    width: 201px;
    margin-top: 150px;
}

.contents {
    height: 190.1px !important;
}

.kol-4 {
    margin-bottom: 75px;
    height: 288px;
    position: relative;
}

.cartoon-of-boxes-images {
    border-radius: 10px 10px 0 0;
    width: 360px;
    height: 190px;
    object-fit: cover;
}

.cartoon-of-boxes-content {
    border-radius: 0 0 10px 10px;
    width: 360px;
    background: linear-gradient(270deg, rgba(2, 231, 245, 0.60) 0%, rgba(21, 28, 55, 0.60) 100%);
}

.cartoon-of-boxes-content-text-1 {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 16px;
    padding: 13.31px 0 0 11.92px;
    color: rgba(163, 163, 163, 1);
}

.cartoon-of-boxes-content-text-2 {
    padding: 19px 0 30px 11.92px;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.cartoon-of-boxes-btn {
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 166.34px;
    right: 30px;
    width: 45px;
    height: 47px;
    border-radius: 50%;
    background: #02E7F5;
}