@media (max-width: 768px) {
    .movie_content {
        margin-top: 286px;
        margin-bottom: 322px;
        /* background-color: red;
        display: none; */
    }
  }
  
  @media (max-width: 480px) {
    .movie_content {
        margin-top: 186px;
        margin-bottom: 222px;
        /* background-color: rgb(0, 255, 38); */
    }
}  