.home {
    position: relative;
}

/* top 376 => 366 */
.header-content {
    position: absolute;
    top: 366px;
    left: 80px;
}

.content_img {
    width: 319px;
}

.content_text {
    width: 719px;
    margin-top: 20px;
}

.hedaer_text {
    display: block;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #F9F9F9;
    letter-spacing: 1.4px;
}