.navbar {
    display: flex;
    align-items: center !important;
    padding: 0 !important;
    justify-content: left !important;
}

.main-nav {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 80px;
    /* top: 50px; */
}

.nav_menu {
    margin-left: 23.94px !important;
    margin-top: 20px;
}

.nav_menu_item {
    /* padding: 10.5px 16px; */
    padding: 8px 16px;
    display: flex;
    gap: 8px;
    cursor: pointer;
    height: 40px;
}

.nav_icon {
    width: 79.06px !important;
    height: 48px !important;
}

.link_text {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav_icon_item_home {
    width: 127px;
}

.nav_icon_item_tv {
    width: 179px;
}

.nav_icon_item_movie {
    width: 171px;
}

.nav_icon_item_star {
    width: 151px;
}

.nav_icon_item_star1 {
    width: 144px;
}

.nav_menu_item:hover a {
    transition: 0.5s    ;
    color: #02E7F5;
}