@media (max-width: 800px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: left;
    }
    
    .main-nav {
        position: absolute;
        z-index: 10;
        right: 0;
        left: 80px;
    }

    .toggle-btn {
        display: block;
    }
    
    .open {
        display: none;
    }
}
  
@media (max-width: 480px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: left;
    }
    
    .main-nav {
        position: absolute;
        z-index: 10;
        right: 0;
        left: 80px;
        /* top: 50px; */
    }

    .toggle-btn {
        display: block;
    }
}